#haa {
	color: blue;
}


#work {
	color: green;
}

#education {
	color: teal;
}

#volunteer {
	color: firebrick;
}

#who {
	color: orange;
}


.header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
  position: fixed;
  top: 0;